<div class="row d-flex align-items-center w-100">
  <div class="col-sm-1 h-100 d-flex align-items-center">
    <i class="material-icons md-36 hamburger" (click)="hamburger()" [matTooltip]="tipNavButton" matTooltipPosition="after">
      menu
    </i>
  </div>
  <div class="col">
    <h1>Zachary's Wishlist</h1>
  </div>
</div>


<div class="wrapper">
  <nav id="sidebar" class="nav flex-column" [class.active]="bNavActive" >
    <div class="sidebar-header text-center">
      <h3>Navigation</h3>
    </div>

    <ul class="nav nav-pills">
      <li>
        <a class="nav-link" routerLink="main" routerLinkActive="active" (click)="navClick()">Wishlist Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="clothing" routerLinkActive="active" (click)="navClick()">Clothing</a>
      </li>
      <li>
        <a class="nav-link" routerLink="home" routerLinkActive="active" (click)="navClick()">Home stuff</a>
      </li>
      <li>
        <a class="nav-link" routerLink="money" routerLinkActive="active" (click)="navClick()">Money Related</a>
      </li>
      <li>
        <a class="nav-link" routerLink="other" routerLinkActive="active" (click)="navClick()">Other</a>
      </li>
      <li>
        <a class="nav-link" routerLink="tech" routerLinkActive="active" (click)="navClick()">Technology</a>
      </li>
      <li>
        <a class="nav-link" routerLink="video" routerLinkActive="active" (click)="navClick()">Video</a>
      </li>
    </ul>
  </nav>

  <div id="content" class="container">
    <router-outlet></router-outlet>
  </div>
</div>