<div class="row">
  <div class="col left">
    <h1>About the Owner</h1>
    <img alt="Zachary" title="Zachary"
      src="https://firebasestorage.googleapis.com/v0/b/admiralfebnet.appspot.com/o/Zachary.jpg?alt=media&token=fd99ba95-93cc-4f4f-ac0a-1d93f5408639">
    <h2>Zachary Bryant</h2>
    <div class="subtitle">
      <p class="general">Resident nerd, geek, developer, Trekkie, sci-fi
        enthusiast, Potterhead, blonde.<br> Is prone to moments of intense
        reflection, mostly centering on trying to remember that something that I
        forgot.</p>
      <p><span>Age:</span> 26</p>
      <p><span>Hogwarts House:</span> Ravenclaw</p>
      <p><span>Eye Color:</span> Blue</p>
      <p><span>Likes:</span> Grapes, Strawberries, Star Trek, Harry Potter,
        BattleStar Galactica (2008), programming, guys.</p>
    </div>

  </div>
  <div class="col right">

  </div>
</div>
