<nav class="nav nav-pills navbar navbar-inverse sticky-top">
  <div class="container">
    <a class="linkImage" routerLink="home" title="Go to the Home Page"><img id="Z-img" src="../../../../assets/img/Z-img.png"></a>
    <a class="linkText" id="btnHome" routerLink="home" routerLinkActive="active" (click)="onClick($event.target.text)">Home</a>
    <a class="linkText" id="btnCode" routerLink="code" routerLinkActive="active" (click)="onClick($event.target.text)">Code</a>
    <a class="linkText" id="btnWL" routerLink="wishlist" routerLinkActive="active" (click)="onClick($event.target.text)">Wishlist</a>
    <div class="ml-auto">
      <a class="linkText navbar-right" href="mailto:Zachary@admiralfeb.net" title="Mail the owner of the site" target="_blank">Contact</a>
    </div>
  </div>
  <div id="code" class="container">
    <app-code-nav></app-code-nav>
  </div>
</nav>
