<nav class="nav nav-pills navbar navbar-inverse sticky-top">
  <a class="linkImage" routerLink="home" title="Go to the Home Page"><img id="Z-img" src="../../../../assets/img/Z-img.png"></a>
  <a class="nav-link" id="btnHome" routerLink="home" routerLinkActive="active">Home</a>
  <a class="nav-link" id="btnCode" routerLink="code" routerLinkActive="active">Code</a>
  <a class="nav-link" id="btnWL" routerLink="wishlist" routerLinkActive="active">Wishlist</a>
  <div class="ml-auto">
    <a class="nav-link navbar-right" href="mailto:Zachary@admiralfeb.net" title="Mail the owner of the site" target="_blank">Contact</a>
  </div>
</nav>
