<div class="navbar">
    <a class="linkText" routerLink="wishlist/_/main" routerLinkActive="active">Wishlist Home</a>
    <!-- <a class="linkText" routerLink="wishlist/_/home" routerLinkActive="active">Home stuff</a>
    <a class="linkText" routerLink="wishlist/_/clothing" routerLinkActive="active">Clothing and Related</a>
    <a class="linkText" routerLink="wishlist/_/money" routerLinkActive="active">Gift Cards and Money</a>
    <a class="linkText" routerLink="wishlist/_/other" routerLinkActive="active">Other</a>
    <a class="linkText" routerLink="wishlist/_/tech" routerLinkActive="active">Tech</a>
    <a class="linkText" routerLink="wishlist/_/video" routerLinkActive="active">Video</a> -->
  </div>