<div class="page-header" style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="jumbotron">
  <p id="coming"><span class="dw">Doctor Who</span> is coming <span class="dw">October 7th</span>!</p>
  <p>Only <app-countdown class="dw" [inputDate]="'October 7 2018'">Loading Countdown</app-countdown> until that
    wonderful day!</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XCt6f1Ttmy4?rel=0&amp;start=5" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
</div>
