<div id="main" class="jumbotron">
  <h3 class="text-center">Welcome to Zachary's Code page</h3>
  <h4 class="text-center">This page will showcase different apps that Zachary has made for his
    enjoyment.</h4>
  <h4>Statuses:</h4>
  <ul>
    <li *ngFor="let status of statuses"><mat-basic-chip [class]="status.class">{{status.title}}</mat-basic-chip> -
      <span [innerHTML]="status.text"></span></li>
  </ul>
  <h4>Code to come:</h4>
  <ul>
    <li *ngFor="let project of codeinProcess"><span class="title">{{project.title}}</span> -
      <span [class]="project.statusClass">{{project.status}}</span>
      - <span [innerHTML]="project.description"></span></li>
  </ul>
</div>
