<div class="navbar">
    <a class="linkText" routerLink="wishlist/./main" routerLinkActive="active">Wishlist Home</a>
    <a class="linkText" routerLink="wishlist/./home" routerLinkActive="active">Home stuff</a>
    <a class="linkText" routerLink="wishlist/./clothing" routerLinkActive="active">Clothing and Related</a>
    <a class="linkText" routerLink="wishlist/./money" routerLinkActive="active">Gift Cards and Money</a>
    <a class="linkText" routerLink="wishlist/./other" routerLinkActive="active">Other</a>
    <a class="linkText" routerLink="wishlist/./tech" routerLinkActive="active">Tech</a>
    <a class="linkText" routerLink="wishlist/./video" routerLinkActive="active">Video</a>
  </div>