<div class="jumbotron">
  <h3 class="text-center">Other Stuff</h3>
  <ul>
    <li>
      Movie basket(s) (popcorn, Mike n Ikes, Hot Tamales, etc. for a date night at home)
    </li>
    <li>
      Star Trek and other Sci-fi (Doctor Who, StarGate, Warehouse 13, etc) memorabilia
    </li>
    <li>
      フェリータイルのmemorabilia - Fairy Tail memorabilia
      <ul>
        <li class="note list-unstyled">I own multiple albums of their music already</li>
      </ul>
    </li>
    <li>漫画 - Manga
      <ul>
        <li>Can be for any anime I like. One of which is Fairy Tail</li>
        <li>Desire it to be in Japanese preferably</li>
      </ul>
    </li>
  </ul>
</div>