<div class="container">
  <h4>Options to choose from:</h4>
  <ul>
    <li class="mb-0" *ngFor="let option of diningOptions">
      {{option}}<button mat-icon-button (click)="deleteOption(option)"><i class="material-icons">
          delete
        </i></button>
    </li>
  </ul>
  <button mat-raised-button color="primary" (click)="selectOption()">Select an Option</button>
  <button mat-raised-button color="warn" class="ml-1" (click)="defaultOptions()">Reset</button>
  <div *ngIf="selectedOption">
    <p>Your selected option is: {{selectedOption}}</p>
  </div>
  <p></p>
  <mat-expansion-panel (closed)="resetEntry()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Option
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>
        Option to Add
      </mat-label>
      <input id="txtnewOption" matInput #newOption placeholder="Option" [formControl]="optionFormControl"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="optionFormControl.hasError('required')">
        {{nothingEntered}}
      </mat-error>
    </mat-form-field>
    <button mat-button id="btnnewOption">Add</button>
  </mat-expansion-panel>
</div>
