<div class="jumbotron">
  <h3 class="text-center">Technology</h3>
  <ul>
    <li>Accessories/Devices
      <ul>
        <li><a href="https://automatic.com/pro">Automatic Pro</a></li>
        <li><a href="https://store.google.com/product/pixel_3">Google Pixel 3</a><br>
          Additionally with the Pixel 3:
          <ul>
            <li><a href="https://store.google.com/product/pixel_stand">Pixel Stand</a></li>
            <li><a href="https://store.google.com/product/pixel_3_case_fabric">Pixel 3 Case - Color Carbon or Indigo</a></li>
          </ul>
        </li>
        <li>Google Pixel Slate<br>
          Additionally with the Pixel Slate:
          <ul>
            <li>Folio Keyboard</li>
            <li>Pixel Slate Pen</li>
          </ul>
        </li>
        <li>A new computer tower with the following:
          <ul>
            <li>RAM 16 GB minimum</li>
            <li>500 GB (minimum) SSD HD</li>
            <li>1 TB HD (this may be SSD or not)</li>
            <li>Processor: Unknown</li>
            <li>Motherboard: Unknown</li>
            <li>Graphics card: Unknown</li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- <li>Games
      <ul>
        <li><a href="https://steamcommunity.com/id/Admiralfeb/wishlist">Steam Wishlist</a></li>
        <li>Note: I prefer PC gaming</li>
      </ul>
    </li> -->
    <li>Home Automation
      <ul>
        <li><a href="https://nest.com/smoke-co-alarm/overview/">Nest Protect mk II</a></li>
        <li><a href="https://store.google.com/product/google_home_hub">Google Home Hub</a><br>
        <span class="note">I have one of these devices for use in the bedroom. It is handy for home automation use. I would like one for my office.</span></li>
      </ul>
    </li>
  </ul>
</div>