$my-purple: (
  50: #f4e9f4,
  100: #e3c8e4,
  200: #d1a4d2,
  300: #bf80bf,
  400: #b164b2,
  500: #a349a4,
  600: #9b429c,
  700: #913992,
  800: #883189,
  900: #772178,
  A100: #feb7ff,
  A200: #fe84ff,
  A400: #fd51ff,
  A700: #fd37ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
