<div class="jumbotron">
  <h3 class="text-center">Video</h3>
  <ul>
    <li><i>Big Bang Theory</i> - Seasons 11 or 12</li>
    <li>Series Sets - <span class="note">Not currently necessary as I can stream them.</span>
      <ul>
        <li>Syfy's <i>Eureka</i></li>
        <li><i>Star Trek</i>
          <ul>
            <li>TNG</li>
            <li>DS9</li>
            <li>Voyager</li>
            <li>Enterprise</li>
          </ul>
        </li>
        <li><i>StarGate</i>
          <ul>
            <li>SG1</li>
            <li>Atlantis</li>
            <li>Universe</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
